p {
	visibility: hidden;
}

* {
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

.container {
	margin: 50px auto;
	padding: 30px 0;
	text-align: center;
	/*border: 1px solid red;*/
	width:100%;
	height: auto;
	border-radius: 10px;
	background: #34495e;
	color: #fff;
}

body{
	background-color: grey;
	font-family: "Segoe UI Light", arial, sans-serif;
	width: 100%;
}

.status{
	color:#2ecc71; 
	margin-top:20px; 
	text-align:center;
	margin:0 auto;
	background-color:#2c3e60;
	width:50%;
	padding:20px;}
h2 {
	color: white;
	font-family: sans-serif;
}
/* FORM */

input.form-control {
	width: 80%;
	margin: 5px auto;
	text-align: center;
}

input.form-control-text {
		width: 40%;
		margin: 5px auto;
		text-align: center;
		display: inline-block;
		padding:5px;
	}

input.form-control[type='file'] {
	background-color: #2c3e50;
	width:17%;
	color: #fff;
	border-color: #ccc;
	margin-bottom: 10px;
	color:#2c3e50;
	padding: 10px;
	height: 50px;
	line-height:1.5;
	display:inline-block;
}

input.form-control[type='file'] {
		background-color: #2c3e50;
		border-style:solid;
		width:17%;
		color: #fff;
		border-color: #2c3e50;
		margin-bottom: 10px;
		color:#2c3e50;
		padding: 10px;
		height: 50px;
		line-height:1.5;
		display:inline-block;
		margin-right:55px;
		}
		
form {
	background: #2c3e50;
	width: 80%;
	margin: 0 auto;
	padding: 60px;
	border-radius: 10px;
}

/* BUTTON */

.btn-primary {
	background-color: #336699;
}

.btn-primary:hover{
	background-color:#34495e;
}

.btn-primary-bottom {
		background-color: #336699;
		color:white;
		margin:10px;
		right:10px;
		position: relative;
	}
	
	.btn-primary-bottom:hover{
		background-color:#34495e;
		color: white;
		border-style:solid;
		border-color:#336699;
	}
/* LINKS <a> */

a {color: white;}

a.linkStyle {
	text-align: center;
	margin: 20px auto;
	width: 30%;
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: #2c3e50;
}

/* TABLE */

table.table {
	margin: 20px auto;
	width: 80%;

}

.table-dark {
	background-color:#2c3e50; 
}

table thead {
	font-weight: bold;
}